.list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #6f42c1;
}